<div class = "animated fadeIn">
<div id="content">
<header>
  <strong><class="page_title">Edit <%= @student.name %>'s Information</strong>
  <%= link_to "Return Without Saving", students_path, :class => "btn btn-xs btn-primary pull-right", :role => "button" %>
</header>
<div class="content-inner">
  <div class="form-wrapper">
      <%= bootstrap_form_for @student do |f| %>
        <%= f.errors_on :name %>
        <%= f.text_field :name, label: "Name", :required => true%>
        <%= f.text_field :tracking_id, label: 'NOP Tracking ID',  :required => true %>
        <%= f.select :section, [["Select:"],["Section A", "A"], ["Section B", "B"],["Section C", "C"],["Section D", "D"],["Section E", "E"],["Section F", "F"],["Section G", "G"], ["Section H", "H"], ["Section I", "I"], ["Section J", "J"], ["Section K", "K"], ["Section L", "L"]], { label: "Section" },{ class: "selectpicker" } %>
        <%= f.text_field :father_name, label: 'Father Name', :required => true %>
        <%= f.text_field :DOB, label: 'Date of Birth', :required => true, help: "Be Careful! Enter date in dd/mm/yyyy pattern only" %>
        <%= f.select :SEX, [["Select:"],["Male", "M"], ["Female", "F"]], { label: "Gender" },{ class: "selectpicker" } %>
        <%= f.number_field :matric_percentage, label: "Matric Percentage", :required => true %>
        <%= f.number_field :monthly_income, label: "Monthly income", :required => true %>
        <%= f.text_field :city, label: 'City' %>
        <%= f.email_field :email, label: 'Email Address' %>
        <%= f.text_field :phone_number, label: 'Phone Number', :required => true %>
        <%= f.text_field :secondary_phone_number, label: 'Secondary Phone Number', :required => true %>
        <%= f.text_field :mailing_address, label: 'Mailing Address'  %>
        <%= f.text_field :username, label: 'Username', :required => true  %>
        <div class="clearfix" type = "submit">
          <%= f.submit  %>
          <% end %>
        </div>
    </form>
  </div>
</div>
</div> 
