<% if @link == "students_view" %>
<div class = "animated fadeIn" ng-app="Studentsr" ng-controller="StudentCtrl">
  <div id="dashboard-con">
    <div>
      <ng-view></ng-view>
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h5 class="pull-left page_title">All Students</h5></strong>
            <div class = "divider pull-right">
              <%= link_to "Add new student", new_student_path, :class => "btn btn-xs btn-primary pull-right", :role => "button" %> 
            </div>
            <div class = "divider pull-right">
              <%= form_tag :controller => :students, :action => :export do %>
                <%= submit_tag "Download in Excel", class: "btn btn-xs btn-primary pull-right", id: "export" %>
              <% end %>
            </div>
            <div class = "divider pull-right">
              <%= link_to "Import from Excel", url_for(:controller => :students, :action => :import_sample), :class => "btn btn-xs btn-primary pull-right", :role => "button" %> 
            </div>
            <div class="col-sm-2 pull-right lil">
            <input type="text" class="form-control-special" ng-model="searchString" placeholder="Search Students"/>
            </div>
           
          </header>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= sortable "Name" %><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></th>
                <th><%= sortable "tracking_id" %><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></th>
                <th><%= sortable "matric_percentage" %><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></th>
                <th><%= sortable "monthly_income" %><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></th>
                <th><%= sortable "Section" %><span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></th>
                
              
                <th>Gender</th>
                <th>City</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="student in students | searchFor:searchString">
                  <td>{{student.name}}</td>
                  <td>{{student.tracking_id}}</td>
                  <td>{{student.matric_percentage}}</td>
                  <td>{{student.monthly_income}}</td>
                  <td>{{student.section}}</td>
                  <td>{{student.SEX}}</td>
                  <td>{{student.city}}</td>
                  <td>
                    <%= link_to 'Edit', URI::unescape(edit_student_path(:id => '{{student.id}}')), :class => 'btn btn-xs btn-warning', :role => "button" %>
                    <%= link_to 'View', URI::unescape(students_path(:id => '{{student.id}}',:admin => "view_student")), :class => 'btn btn-xs btn-primary', :role => "button" %>
                    <%= link_to 'Delete', URI::unescape('students/{{student.id}}'), method: :delete, :class => 'btn btn-xs btn-danger', :role => "button", :data => {confirm: 'Are you sure you want to delete this?'} %>
                  </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var stdMod = angular.module('Studentsr', []); 
  stdMod.controller('StudentCtrl', function ($rootScope, $http) {
    $rootScope.students = []
    <% if @students!=nil%>
      <% @students.each do |student| %>
        $rootScope.students.push({
          id: '<%= student.id %>',
          name:'<%= student.name %>',
          tracking_id: '<%= student.tracking_id %>',
          matric_percentage: '<%= student.matric_percentage %>',
          monthly_income: '<%= student.monthly_income %>',
          section: '<%= student.section %>',
          SEX: '<%= student.SEX%>',
          city: '<%= student.city%>'
        })
    <% end %>
  <% end %>
  });
  stdMod.filter('searchFor', function(){
  return function(arr, searchString){
    if(!searchString){
      return arr;
    }
    var result = [];
    searchString = searchString.toLowerCase();
    angular.forEach(arr, function(item){
      if(item.name.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.tracking_id.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.matric_percentage.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.monthly_income.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.section.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.SEX.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.city.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }
    });
    return result;
  };
  });
</script>
<% end %>

<% if @link == "view_student" %>
    <div class = "animated fadeIn">
      <div id="dashboard-con">
        <div>
          <div class="dashboard-left-cell">
            <div class="admin-content-con">
              <header class="clearfix">
                <strong><h3 class="pull-left page_title"><%= @student.name %>'s details</h3></strong>
                <div class = "divider pull-right">
                 <%= link_to "All Students", students_path, :class => "btn btn-xs btn-primary pull-right", :role => "button" %>
              </header>
                <strong>Name:</strong>&nbsp;&nbsp;&nbsp;<%= @student.name %><hr/>
                <strong>Tracking ID:</strong>&nbsp;&nbsp;&nbsp;<%= @student.tracking_id %><hr/>
                <strong>Section:</strong>&nbsp;&nbsp;&nbsp;<%= @student.section %><hr/>
                <strong>Father's Name:</strong>&nbsp;&nbsp;&nbsp;<%= @student.father_name %><hr/>
                <strong>Date of Birth:</strong>&nbsp;&nbsp;&nbsp;<%= @student.DOB %><hr/>
                <strong>Matric Percentage:</strong>&nbsp;&nbsp;&nbsp;<%= @student.matric_percentage %><hr/>
                <strong>Monthly Income:</strong>&nbsp;&nbsp;&nbsp;<%= @student.monthly_income %><hr/>
                <strong>Gender:</strong>&nbsp;&nbsp;&nbsp;<%= @student.SEX %><hr/>
                <strong>City:</strong>&nbsp;&nbsp;&nbsp;<%= @student.city %><hr/>
                <strong>Email Address:</strong>&nbsp;&nbsp;&nbsp;<%= @student.email %><hr/>
                <strong>Phone number:</strong>&nbsp;&nbsp;&nbsp;<%= @student.phone_number %><hr/>
                <strong>Secondary Phone number:</strong>&nbsp;&nbsp;&nbsp;<%= @student.secondary_phone_number %><hr/>
                <strong>Mailing Address:</strong>&nbsp;&nbsp;&nbsp;<%= @student.mailing_address %><hr/>
                <strong>DataBurj Username:</strong>&nbsp;&nbsp;&nbsp;<%= @student.username %>
                <!--<strong>Phone no:</strong>&nbsp;&nbsp;&nbsp;<%= @student.name %><hr/>-->
            </div>
          </div>
        </div>
      </div>
<% end %>
  




