 <!--Pending Undertakings with both status  false -->
 <div class = "animated fadeIn" ng-app="Studentsr" ng-controller="StudentCtrl">
  <div id="dashboard-con">
    <div>
      <ng-view></ng-view>
      <div class="dashboard-left-cell">
        <div class="admin-content-con">
          <header class="clearfix">
            <strong><h5 class="pull-left page_title">All Students with no response : <%= @count %></h5></strong>
            <div class="col-sm-2 pull-right lil">
              <input type="text" class="form-control-special" ng-model="searchString" placeholder="Search Students"/>
            </div>
          </header>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tracking ID </th>
                <th>Mobile Number </th>
                <th>Phone Number </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

                <tr ng-repeat="student in students | searchFor:searchString">
                  
                  <td>{{student.name}}</td>
                  <td>{{student.tracking_id}}</td>
                  <td>{{student.mobile_number}}</td>
                  <td>{{student.phone_number}}</td>
                  <td>
                    <%= link_to 'Accept',URI::unescape( undertakings_path(:admin => "accept_file", :id => '{{student.tracking_id}}')), :class => 'btn btn-xs btn-primary', :role => "button" %>
                  </td>
                </tr>
               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var stdMod = angular.module('Studentsr', []); 
  stdMod.controller('StudentCtrl', function ($rootScope, $http) {
    $rootScope.students = []
    <% if @students!=nil%>
      <% @students.each do |student| %>
        $rootScope.students.push({
          name:'<%= student.name.titleize() %>',
          tracking_id: '<%= student.tracking_id %>',
          mobile_number: '<%= student.mobile_number%>',
          phone_number: '<%= student.phone_number%>'
        })
    <% end %>
  <% end %>
  });
  stdMod.filter('searchFor', function(){
  return function(arr, searchString){
    if(!searchString){
      return arr;
    }
    var result = [];
    searchString = searchString.toLowerCase();
    angular.forEach(arr, function(item){
      if(item.name.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if(item.tracking_id.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if (item.mobile_number.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }else if (item.phone_number.toLowerCase().indexOf(searchString) !== -1){
        result.push(item);
      }
    });
    return result;
  };
  });
</script>