<div class = "animated fadeIn">
  <div id="content">
    <header>
      <strong><class="page_title">Edit Letter Text</strong>
      <div class = "divider pull-right">
        <%= link_to "Download Letters", letter_path(@letter, format: "pdf"), target: "_blank", :class => "btn btn-primary", :role => "button" %>
      </div>
    </header>
    <div class="content-inner">
      <div class="form-wrapper">
<%= simple_form_for @letter do | f | %>
  <div class="form-group">
  <%= f.input :boarder_letter_text, as: :summernote %>
  </div>
  <div class="form-group">
  <%= f.input :day_scholar_letter_text, as: :summernote %>
  </div>
  <%= f.button :submit %>
  <% end %>
  <br/>
  

</div>
</div>

  <script type="text/javascript">
   $(document).ready(function() {
     $('#summernote').summernote();
   });
 </script>